//------COLORS----------
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

//------BORDER----------
@mixin border($text-color) {
  border: 1px solid $white;
}

//------CONTAINERS & WRAPPERS---------
@mixin background-size ($arguments) { //Pixel, Percent, Cover; ex: .background-size(cover);
  -webkit-background-size: $arguments;
  -moz-background-size: $arguments;
  background-size: $arguments;
}

@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

//------BREAKPOINTS---------
$max-width: 1200px;
$tablet-bp: 768px;
$mobile-bp: 480px;
$xsmobile-bp: 320px;

@mixin tablet {
    @media only screen and (max-width: $tablet-bp) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: $mobile-bp) {
        @content;
    }
}

